*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    min-height: 100%;

}
body{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    min-width: 320px;
}
main{
    flex-grow: 1;
}

.container{
    max-width: 1110px;
    position: relative;
    margin: 0 auto;
}
header{
    min-height:800px;
    background-color: #F9F6F1;


}
/*--------------------------Header menu section-------------------------*/
.header-menu{
    
    min-height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #F9F6F1;
    
}
.banner{
    display: block;
    margin-top: 90px;
    
    
}

.section__wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-height: 80px;
    align-items: center;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
    
}
ul{
    list-style: none;
    font-size: 14px;
    
}


.mainmenu__item{
    
    margin-right: 30px;
    flex-shrink: 0;
    color: #000;
    align-items: center;
    border: #000 1px solid;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu__link{
    
    color: #000;
    text-decoration: none;
}
.menu__link:hover:focus{
    color: #535353;
}

.logo{
    margin-left: 91px;
    margin-right: 90px;
    
}
.backet__link img{
    margin-right: 15px;
    
}
.navbar-toggler{
    display: none;
    
}
/*-----------------------------Section banner------------------------------*/

.slider__item{
    min-height: 564px;
    background:url(../img/running_shoes_PNG5823.png) no-repeat right center;
    display: flex;
}

.slider__item{
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background: url(../img/running_shoes_PNG5823.png) no-repeat right center;

}

.slider__text{
    font-size: 30px;
    margin-bottom: 36px;
}

.slider__big-text{
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 55px;
}

.button{
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #D7B399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-top: 54px;
}
.button:hover:focus{
    background: #29221e;
}

.slider__item-price{
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.slider__price--old{
    font-size: 24px;
    text-decoration-line: line-through;
    margin-bottom: 14px;
}


.slider__price--new{
    font-size: 42px;
    color: #d84033;
    
}

.section__wrapper{
    position: relative;
}
.slider__button{
    position: absolute;
    top: 50%;
    border: none;
    background:none;
}
.slider__button:hover{
    color: #29221e ;
}
.slider__button--prev{
    left: -100px;
}
.slider__button--prev:hover:focus{
    color: #29221e;
}
.slider__button--next{
    right: -100px;
}
.slider__button--next:hover:focus{
    color: #29221e;
}
/*------------------------Section Dress---------------------------------*/

.dress__wrapper{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
    
}
.dress__item{
    width: 25%;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    
    
}
.dress__item img{
    width: 55%;
    height: 90%;
    
    
}
.dress__item-cream{
    background: #f9f6f1;
}
.dress__item-grey{
    background: #f4f4f4;
}
.dress__item-text{
    
    font-size: 21;
    font-weight: light;
    font-family: "montserrat", "Arial", sans-serif;
    left: 30px;
    bottom: 24px;
    position: absolute;
    text-transform: uppercase;
    
}
/*------------------------Section delivery----------------------------*/
.delivery{
    background: #212121;
    color: #fff;
    text-align: center;
}
.delivery .container{
    padding-top: 80px;
    padding-bottom: 59px;
}
.delivery__title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.delivery__title span{
    font-weight: normal;
}
.delivery__text{
    font-size: 21px;
}

/*--------------------------Section Man-woman------------------------------*/
.man-woman .container{
    display: flex;
    flex-direction: row;

}
.man-woman{
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}
.man,.woman{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}

.man{
    background: url(../img/man.png) no-repeat;
    background-position-x: right ;
    background-position-y: bottom;

}
.woman{
    
    padding-left: 36px;
    background: url(../img/woman.png) no-repeat;
    background-position-x: right ;
    background-position-y: bottom;
}


.man-woman h2{
    font-size: 24px;
    margin-bottom: 25px;
}
.man-woman h2 span{
    font-weight: normal;
}
.man-woman p{
    font-weight: 300;
}
.man-woman a{
    display: flex;
    background: #D7B399;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.man-woman a:hover{
    background: #29221e;
}

/*-----------------------------Section new-------------------------------*/

.new .container{
    padding-top: 193px;
    padding-bottom: 107px;
    text-align: center;
}

.new h2{
    font-size: 36px;
    text-transform: uppercase;
    
}
.new button{
    width: 220px;
    height: 55px;
    background: #D7B399;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
}
.new button:hover, .new button:focus{
    background: #29221e;
}
.catalog{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card img{
    width: 85%;
    margin-bottom: 25px;
}
.card{
    border: #D7B399 1px solid;
    width: 22%;
    min-height: 350px;
    padding: 22px 0 25px;
    
}
.card h3{
    font-size: 14px;
    font-weight: bold;

}
.card-price{
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
    margin-top: 15px;
}


/*--------------------------*/
@media(max-width:1326px){
    .slider__button--prev{
        left: 0;
    }
    .slider__button--next{
        right: 0;
    }
}
@media(max-width:1110px){
    .container{
        width: auto;
        padding: 0 30px;
    }
    .dress__item{
        width: 25%;
    }

}
@media(max-width:992px){
    .catalog{
        flex-wrap: wrap;
    }
    .card{
        width: 35%;
    }
    .menu__wrapper{
        flex-wrap: wrap;
    }
    .logo{
        order: -1;
        width: 100%;
    }
}
@media(max-width:768px){
    .man-woman .container{
        flex-direction: column;
    }
    .man, .woman{
        width: 100%;
    }
    .man{
        padding-left: 35px;
    }
    .man-woman{
    background: linear-gradient(180deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
    }
    .card{
        width: 40%;
    }
    .slider__wrapper{
        display: none;
    }
    .slider__button{
        display: none;
    }
    .header{
        min-height: 90px;
    }
    .logo{
        order: -1;
        width: 70%;
    }
    .basket{
        order: -1;
        text-align: right;
    }
    .dress__item{
        width:33% ;
    }
    .man-woman a{
        height: 44px;
    }

}
@media(max-width:600px){
    .basket, .menu{
        display: none;
        width: 100%;
    }
    .navbar-toggler{
        display: block;
    }
    .mainmenu__list{
        flex-direction: column;
    }

}
.show{
    display: block;
}
@media(max-width:576px){
    .card{
        width: 90%;
    }
    .new .container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .catalog{
        margin-top: 50px;
    }
    .dress__item{
        width:50% ;
    }
}
@media(max-width:320px){
    .dress__item{
        width:100% ;
    }
}











